<!DOCTYPE html>
<html>
<head>
  <title>CodePal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <ul>
    <li>
      current_user.username
    </li>
    <li>
      <%= button_to "Logout", logout_url , method: "delete" %>
    </li>
  </ul>
<% else %>
  <ul>
    <li>
      <%= button_to "Sign Up", new_user_url , method: "get" %>
    </li>
    <li>
      <%= button_to "Login", login_url , method: "get" %>
    </li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
