<!DOCTYPE html> <html>
<head>
  <title>CodePal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="off">
<div class="fadein scaleInv anim_1 container">
<div class="fadein scaleInv anim_2">
<%= render "layouts/navbar" %>
</div>

<% flash.each do |category| %>
  <% category.each do |message| %>
    <span class="flash-<%= category %>"><%= message %></span>
  <% end %>
<% end %>

<div class="alerts"></div>

<%= yield %>

</div>
</body>
</html>
